database_url=mysql://root:password@localhost:3306/web-suite-turbo
mongodb_uri=
nextauth_url=http://localhost:3000
nextauth_secret=secret
mnemonic=
# make sure to add the correct rpc url for the chain you want to use.
# for example, if you want to use the localhost chain, you should use:
RPC_1337_CHAIN="http://127.0.0.1:8545/"

